# Data Exploration

## Description
A description will go here

### Data upload and curation

In [1]:
import pandas as pd
import json

from connect import Connect
from config import Config as cfg

#### Importing our data into a pandas DataFrame using our Connect module
Since

In [2]:
authUrl = "https://www.strava.com/oauth/token"
activitiesUrl = "https://www.strava.com/api/v3/athlete/activities"

conn = Connect(cfg.CLIENT_SECRET,
               cfg.CLIENT_ID,
               cfg.REFRESH_TOKEN)
payload = {
    "client_id": conn.clientID,
    "client_secret": conn.clientSecret,
    "refresh_token": conn.refreshToken,
    "grant_type": "refresh_token",
    "f": "json"
}

conn.refresh_token(authUrl, payload)
print(conn.accessToken)
print(conn.refreshToken)
page = 0
if conn.accessToken != "":
    data = conn.get_activities(activitiesUrl, page)
    
        
all_data = pd.DataFrame()
page += 1
data = conn.get_activities(activitiesUrl, page)
while data != "[]":
    page_df = pd.read_json(data)
    all_data = all_data.append(page_df)
    page += 1
    data = conn.get_activities(activitiesUrl, page)

0f9a9d38345a492524041aa24260f11fb5133d24
091d0a8948ac064037ae3839bba3969b82fece33
Requesting : https://www.strava.com/api/v3/athlete/activities/0
Requesting : https://www.strava.com/api/v3/athlete/activities/1
Requesting : https://www.strava.com/api/v3/athlete/activities/2
Requesting : https://www.strava.com/api/v3/athlete/activities/3
Requesting : https://www.strava.com/api/v3/athlete/activities/4
Requesting : https://www.strava.com/api/v3/athlete/activities/5
Requesting : https://www.strava.com/api/v3/athlete/activities/6
Requesting : https://www.strava.com/api/v3/athlete/activities/7
Requesting : https://www.strava.com/api/v3/athlete/activities/8
Requesting : https://www.strava.com/api/v3/athlete/activities/9
Requesting : https://www.strava.com/api/v3/athlete/activities/10

#### Cleaning up data a bit
We start by checking out what data we're pulling, and removing some obviously useless (for our purposes) columns

In [3]:
print("total number of activities: "+str(all_data.shape[0]))
# print("columns: "+str(all_data.columns))
all_data.head()

all_data.drop(['resource_state', 'athlete', 'id', 'external_id', 'upload_id', 'start_date', 'timezone', 'utc_offset', 'trainer', 'flagged', 'gear_id', 'from_accepted_tag', 'upload_id_str', 'heartrate_opt_out', 'display_hide_heartrate_option', 'has_kudoed', 'average_watts', 'kilojoules', 'device_watts', 'average_temp'], axis=1)

total number of activities: 1775

,name,distance,moving_time,elapsed_time,total_elevation_gain,type,start_date_local,location_city,location_state,location_country,...,max_speed,average_cadence,has_heartrate,average_heartrate,max_heartrate,pr_count,total_photo_count,elev_high,elev_low,workout_type
0,Shredded,0.0,8059,8059,0.0,RockClimbing,2022-01-13T18:58:40Z,NaN,NaN,NaN,...,0.00,54.4,True,91.3,121.0,0,0,NaN,NaN,NaN
1,Yeah you know what that GPS map means,8504.9,7030,7468,244.0,Surfing,2022-01-11T13:31:10Z,NaN,NaN,NaN,...,7.90,59.1,True,96.7,125.0,0,0,25.2,-80.2,NaN
2,Climb at Agility with Malena,0.0,6549,6549,0.0,RockClimbing,2022-01-10T18:58:55Z,NaN,NaN,NaN,...,0.00,54.8,True,101.4,136.0,0,0,NaN,NaN,NaN
3,Fun steady climb,0.0,8400,8400,0.0,RockClimbing,2022-01-09T17:20:59Z,NaN,NaN,NaN,...,0.00,NaN,False,NaN,NaN,0,0,NaN,NaN,NaN
4,Savoring the splashes of sunlight,6615.1,1769,1769,86.5,Run,2022-01-08T08:55:33Z,NaN,NaN,NaN,...,5.47,88.4,True,159.3,174.0,0,0,343.3,274.4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Afternoon Run,4839.4,1020,1020,67.4,Run,2016-09-14T17:59:48Z,NaN,NaN,NaN,...,6.10,95.6,False,NaN,NaN,6,0,202.0,189.2,NaN
171,Afternoon Run,22377.5,5249,5495,110.8,Run,2016-09-11T13:33:45Z,NaN,NaN,NaN,...,5.30,92.7,False,NaN,NaN,7,0,31.4,10.0,NaN
172,Morning Run,14354.2,3122,3368,104.4,Run,2016-09-10T08:57:01Z,NaN,NaN,NaN,...,6.40,94.1,False,NaN,NaN,6,0,202.0,189.3,NaN
173,Morning Run,15380.9,4663,6222,338.4,Run,2016-09-08T08:08:19Z,NaN,NaN,NaN,...,5.60,87.9,False,NaN,NaN,6,0,199.4,72.4,NaN
174,Morning Run,12661.3,3030,3030,208.6,Run,2016-09-07T08:43:21Z,NaN,NaN,NaN,...,5.70,91.3,False,NaN,NaN,0,0,202.0,178.5,NaN

## Basic data visualization

### Activity types

In [4]:
import matplotlib.pyplot as plt